<div
  class="background-modal-image animated fadeIn fast"
  [class.hidden]="modalImageService.hideModal"
>
  <div
    class="modal fade show"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel1"
    style="display: block"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel1">Load Image</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body grid">
          <h3>Select image</h3>
          <img
            *ngIf="!previewImageService.previewImage"
            [src]="modalImageService.img"
            class="img-avatar"
            alt=""
          />
          <img
            *ngIf="previewImageService.previewImage"
            [src]="previewImageService.previewImage"
            class="img-avatar"
            alt=""
          />
          <br />
          <fieldset class="form-group">
            <label>Select image</label>
            <label class="custom-file d-block">
              <input
                type="file"
                (change)="changePreviewImage($event)"
                id="file"
                class="custom-file-input"
              />
              <span class="custom-file-control"></span>
            </label>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button
            (click)="closeModal()"
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
          >
            Close
          </button>
          <button (click)="uploadImage()" type="button" class="btn btn-primary">
            Update Image
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
