<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          id="inputSearch"
          type="text"
          class="form-control"
          placeholder="Search hospital..."
          (keyup)="search(inputSearch.value)"
          #inputSearch
        />
      </div>
    </div>
  </div>
</div>

<div *ngIf="loading" class="row animated fadeIn fast">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Loading</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Please wait...</p>
    </div>
  </div>
</div>

<div *ngIf="!loading" class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h4 class="card-title">Total Hospitals ({{ total }})</h4>
            <h6 class="card-subtitle">
              Hospitals registered in the application
            </h6>
          </div>
          <div class="col-8">
            <div class="text-right">
              <button (click)="openSweetAlert()" class="btn btn-primary">
                <i class="fa fa-hospital-o"></i> Create Hospital
              </button>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100">Image</th>
                <th>Name</th>
                <th class="text-nowrap w100">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hospital of hospitals">
                <td>
                  <img
                    class="row-avatar-image"
                    [src]="hospital.img || '' | image: 'hospitals'"
                    [alt]="hospital.name"
                    (click)="openModal(hospital)"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Hospital's name"
                    [(ngModel)]="hospital.name"
                  />
                </td>
                <td class="text-nowrap text-center">
                  <a
                    class="cursor"
                    (click)="updateHospital(hospital)"
                    data-toggle="tooltip"
                    data-original-title="Edit"
                  >
                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                  </a>

                  <a
                    (click)="deleteHospital(hospital)"
                    class="cursor"
                    data-toggle="tooltip"
                    data-original-title="Delete"
                  >
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <button (click)="changePage(-incPage)" class="btn btn-secondary">
            Previous
          </button>
          &nbsp;
          <button (click)="changePage(incPage)" class="btn btn-secondary">
            Next
          </button>
          <br />
          <br />
          <span
            >Showing results from: {{ total > 0 ? from + 1 : 0 }} to
            <span *ngIf="from + incPage > total">{{ total }}</span>
            <span *ngIf="from + incPage < total">{{ from + incPage }}</span>
            of {{ total }}</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
