/* You can add global styles to this file, and also import other style files */

.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#themecolors .selector,
.cursor {
  cursor: pointer;
}

.crop img {
  height: 30px;
  object-fit: cover;
}

.crop-profile img {
  height: 70px;
  object-fit: cover;
}

.img-avatar {
  height: 200px;
  width: 200px;
  place-self: center;
  border-radius: 10%;
}
